body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
}

button {
    border: 2px solid white;
    width: 200px;
    height: 20vh;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

button:hover {
    background-color: rgba(0, 38, 255, 0.1);
    transform: scale(1.25);
}

* {
    transition: .5s;
}